# exclude files and directories
bin
obj
node_modules
.vs
*.log
*.user
*.vscode

# include necessary files and directories
Dockerfile
docker-compose.yml
Polaris.Api.csproj
Polaris.Api/
Polaris.Api.Tests/